@import url('./reset.css');

.form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #ffffff;
  width: 240px;
  height: 24px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
}

.search-input:hover {
  border: 1px solid #ff0000;
}

.search-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
  color: #2e2f42;
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.search-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.search-btn:hover {
  background-color: #6c8cff;
}

/* Insert Loader from cssloaders.github.io */

.loader {
  width: 50px;
  height: 50px;
  display: none;
  margin: 0 auto;
  position: relative;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

/* Rendering styles */

.gallery {
  margin-top: 108px;
  margin-left: 260px;
  margin-right: 260px;
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.gallery-item {
  position: relative;
  max-width: 300px;
  max-height: 200px;
  border: 1px solid #808080;
  transition: 500ms;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: 500ms;
}

.gallery-item:hover,
.gallery-image:hover {
  cursor: zoom-in;
  border-color: rgb(252, 0, 0);
  box-shadow: 0px 8px 8px 2px rgba(16, 16, 97, 0.48);
}

.gallery-text {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
}

.gallery-text-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-text-dscr {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-text-count {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Tiny styles for iziToast */

.iziToast-texts {
  width: 322px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}